<div class="data-panel">
  <div class="panel-sub">
    <button type="button" class="btn btn-outline-info btn-rounded waves-effect" routerLink="/dish/create"
      data-toggle="modal" data-target="#exampleModalLong">Utwórz Danie</button>


  </div>
</div>


<div *ngIf="buttonTable">
  <mat-card class="mat-elevation-z">

      <app-chips></app-chips>
  
    
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
      </mat-form-field>
 

    <mat-card-content class="container mt-4">

      <div class="row">

        <div  fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px" 
        fxLayoutAlign="flex-start">

          <div class="card-width" fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%" 
            *ngFor="let dish of this.dataSource.filteredData">
            <mat-card  class="mat-elevation-z4">
              <!-- <img mat-card-image src="{{dish.image}}"> -->
              <mat-card-content class="icon-center">
                <mat-card-header>
                  <mat-card-title>{{dish.name}}</mat-card-title>
                  <!-- <div class="card__author">
                    <button id="share" class=" share-icon-edit fas fa-trash" style="color:red"
                      (click)="dishDelete(dish._id)"></button>
                    <button id="share" class=" share-icon-edit fas fa-edit"
                      [routerLink]="['/dish/edit/', dish._id]"></button>
                    <button id="share" class="share-toggle share-icon" (click)="openDialog(dish)"></button>
                  </div> -->
                </mat-card-header>
                <!-- <img mat-card-image src="{{dish.image}}"> -->
                <mat-list>
                  <p>
                    Cenna Brutto [sprzedaż]
                    <span class="absolute-desc"> {{dish.bruttoPrice}} zł </span>
                  </p>
                  <p>
                    Food Cost
                    <span class="absolute-desc"> {{dish.foodCost}} zł </span>
                  </p>
                  <p>
                    <mat-progress-bar mode="determinate" [class.low]="dish.productMargin < 80"
                      [class.verylow]="dish.productMargin < 60" [class.god]="dish.productMargin >= 80"
                      value="{{100 - dish.productMargin}}"></mat-progress-bar>
                    <span class="absolute-desc"> {{dish.productMarginFC}} %</span>
                  </p>
                
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
            
                <button mat-icon-button color="accent" (click)="openDialog(dish)">
                  <mat-icon class="icon-size edit">zoom_in</mat-icon>
                </button>
                <button mat-icon-button color="accent" [routerLink]="['edit/', dish._id]">
                  <mat-icon class="icon-size edit">edit_outline</mat-icon>
                </button>

                <button mat-icon-button [routerLink]="['show/', dish._id]" color="accent">
                  <mat-icon class="icon-size info">info_outline</mat-icon>
                </button>

                <button mat-icon-button (click)="dishDelete(dish._id)" color="accent">
                  <mat-icon class="icon-size delete">delete_outline</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
      </div>
    </mat-card-content>

  </mat-card>

</div>

<div class="content-body" *ngIf="!buttonTable">
  <div class=" mat-elevation-z photo-list card card-block">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" class="mat-form-field-wrapper" placeholder="Search">
    </mat-form-field>
  

    <table id="ExampleTable" mat-table [dataSource]="dataSource" matSort
      class="table-responsive table mat-elevation-z8">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let product"> <img src="{{product.image}}" style="width: 40px;"> </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let product"> {{product.category}} </td>
      </ng-container>
      <ng-container matColumnDef="bruttoPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cenna Brutto [sprzedaż] </th>
        <td mat-cell *matCellDef="let product"> {{product.bruttoPrice}} zł</td>
      </ng-container>
      <ng-container matColumnDef="foodCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Food Cost </th>
        <td mat-cell *matCellDef="let product"> {{product.foodCost}} zł </td>
      </ng-container>
      <ng-container matColumnDef="productMarginFC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marża </th>
        <td mat-cell *matCellDef="let product">
          <mat-progress-bar mode="determinate" [class.low]="product.productMargin < 80"
            [class.verylow]="product.productMargin < 60" [class.god]="product.productMargin >= 80"
            value="{{100 - product.productMargin}}"></mat-progress-bar> {{product.productMarginFC}} %
        </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button color="accent" [routerLink]="['edit/', product._id]">
            <mat-icon class="icon-size edit">edit_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details </th>
        <td mat-cell *matCellDef="let product">
         
          <button mat-icon-button [routerLink]="['show/', product._id]" color="accent">
            <mat-icon class="icon-size info">info_outline</mat-icon>
          </button>
        </td>

      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete </th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="dishDelete(product._id)" color="accent">
            <mat-icon class="icon-size delete">delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="data-panel">
  <div class="panel-sub">
    <button type="button" class="btn btn-outline-info btn-rounded waves-effect" routerLink="new" data-toggle="modal"
      data-target="#exampleModalLong">Create</button>

    <mat-checkbox class="example-margin" style="color:white; padding-left: 10px;" (change)="onValChange(checked)"
      [(ngModel)]="checked">tabela/box</mat-checkbox>

  </div>
</div>
