<form [formGroup]="myForm" (ngSubmit)="onSubmitForm(f)" #f="ngForm">
 <mat-card class="mat-elevation-z">
    <mat-card-content class="container mt-4">
      <div class="row" formArrayName="events">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
          <div class="card-width" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%" *ngFor="let match of this.dataSource.filteredData; let i = index">
            <mat-card class="mat-elevation-z4" [formGroupName]="i">
              <mat-card-content class="icon-center">
                <mat-card-header>
                  <mat-card-title>
                    <p>{{match.status}}</p>
                    <div class="inline-flex">
                      <div class="content-line">
                        <img src="https://www.sofascore.com/images/team-logo/football_{{match.homeTeam.id}}.png"
                          class="img-club">
                        {{match.homeTeam.name}} - {{match.awayTeam.name}}
                        <img src="https://www.sofascore.com/images/team-logo/football_{{match.awayTeam.id}}.png"
                          class="img-club">
                      </div>
                    </div>
                  </mat-card-title>
                </mat-card-header>
                <mat-list>
                  <div class="time-standings">{{(match.startTimestamp)* 1000 | date:'M/dd/yy'}} </div>
                  <p> {{match.tournament.name}}</p>
                  <p> {{match.tournament.category.name}}</p>
                  <mat-radio-group class="radio-toolbar" formControlName="type" aria-label="Select an option">
                    <mat-radio-button *ngFor="let choice of match.choicesFL" class="" [value]="choice.name"
                      (click)="clickRadio($event, choice.name, match )">{{choice.name}}<span>{{calculateBet(choice.fractionalValue)}}</span>
                    </mat-radio-button>
                    <div class="inline-flex radio-double-type">
                    <mat-radio-button *ngFor="let choice of match.choicesDP" class="" [value]="choice.name"
                      (click)="clickRadio($event, choice.name, match )">{{choice.name}}<span>{{calculateBet(choice.fractionalValue)}}</span>
                    </mat-radio-button>
                 </div>
                  </mat-radio-group>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form> 
