<nav class="navbar navbar-visible-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/"><i class="fab fa-2x fa-github"></i> Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
    </ul>
    <div class="dropdown show px-3" *ngIf="userFromApi">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{userFromApi.firstName}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a [routerLink]="['/login']" class="nav-item nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</div>
  
  </div>
</nav>
