<div [ngClass]='alert' role="alert" *ngIf="message">
  <div id="inner-message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{messageContent}}
  </div>
</div>
<div class="content-body">
  <form [formGroup]="bodyForm" (submit)="onAddContent()">
    <mat-tab-group>
      <mat-tab label="Produkt">
        <div class="row">
          <div class="col-md-12">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      <h4 class="card-title"><span class="title-label">Dane Produktu</span></h4>
                    </div>
                    <div class="example-container ">
                      <mat-form-field>
                        <input formControlName="name" matInput placeholder="Name" name="name">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagane podaj nazwę Produktu z FV"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="description" matInput placeholder="Description">
                        <mat-icon matSuffix class="fas fa-info-circle"
                          matTooltip="*Wymagane podaj opis skrócony np. 'filet łosoś trym D'" #tooltip="matTooltip"
                          (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>

                      <mat-form-field>
                        <select matNativeControl required [(ngModel)]="selectedValue" placeholder="Supplier"
                          (change)="supplieronChange($event.target.value)" formControlName="supplier">
                          <option value="KŚ">Kuchnie Świata</option>
                          <option value="WoA">World of Asia</option>
                          <option value="W">Warzywa</option>
                          <option value="Sk">Składowa</option>
                          <option value="Pp">Półprodukt</option>
                          <option value="Re">Receptura</option>
                          <option value="In">Inny</option>
                        </select>
                        <mat-icon matSuffix class="fas fa-info-circle"
                          matTooltip="*Wymagane: Wybierz dostawcę. Jęsli tworzysz recepturę to 'Receptura', 'Póprodukt' i 'Składowa' jest dla produktów które będa wykorzystywane jako część składowa innego dania"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="image" matInput placeholder="Image">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="Link do zdjęcia produktu"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="qty" matInput placeholder="Quallity">
                        <mat-icon matSuffix class="fas fa-info-circle"
                          matTooltip="W przyszłości wykorzystana zostanie wartość do inwentaryzacji oraz magazynu"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>
                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="nettoPrice" matInput placeholder="Netto">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość netto z FV"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="vat" matInput placeholder="Vat">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość Vat z FV"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="weight" matInput placeholder="Weight">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość Wagi z FV"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <input formControlName="losses" matInput placeholder="Losses">
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="% straty na produkcie"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                      <mat-form-field>
                        <select matNativeControl required placeholder="Unit" formControlName="unit">
                          <option value="KG">kg -kilogramy</option>
                          <option value="SZT.">szt- sztuki</option>
                          <option value="L">l- litry</option>
                        </select>
                        <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj jednostkę"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="(selectedValue === 'Re' || selectedValue === 'Pp') && !ProductDish" label="Półprodukt">
        <div class="row">
          <div class="col-md-12">
            <button style="margin:5px;" type="button" class="btn btn-primary btn-sm" (click)="addNewCity()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj Składową produktu
            </button>
          </div>
        </div>
        <div formArrayName="recipe">
          <div class="row">
            <div class="col-md-12">
              <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let name of formData.controls; let i=index">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2" [formGroupName]="i">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <legend>
                            <h4><span class="title-label">Produkt {{i+1}}:</span> <button style="margin-left:35px;"
                                type="button" class="btn" (click)="deleteCity(i)">
                                <i class="fa fa-minus" aria-hidden="true"></i></button>
                              <span class="h6">
                                <mat-form-field class="example-full-width h5">
                                  <mat-label style="color:#3b9aff">Wyszukaj/wpisz produkt </mat-label>
                                  <input type="text" class="input-absolute" aria-label="Assignee" matInput
                                    formControlName="name" [formControl]="myControl" [matAutocomplete]="auto">
                                  <mat-select formControlName="name" (selectionChange)="onChange($event.value, i)">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.name}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-select>
                                </mat-form-field>
                              </span>
                            </h4>
                          </legend>
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                          <div class="form-row">


                            <mat-form-field class="form-group col-md-5">
                              <mat-label>name</mat-label>
                              <input matInput class="form-control" formControlName="name" type="text" name="unit"
                                disabled readonly required>
                            </mat-form-field>
                            <mat-form-field class="hidden-field form-group col-md-2">
                              <mat-label>Cena Netto za {{weight}} {{unit}} produktu</mat-label>
                              <input matInput class="form-control" formControlName="nettoPrice" type="text" name="price"
                                disabled required>
                            </mat-form-field>

                            <mat-form-field class="hidden-field">
                              <mat-label>Waga</mat-label>
                              <input matInput formControlName="weight" type="number" name="weight" disabled required>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-1">
                              <mat-label>Jednostka</mat-label>
                              <input matInput class="form-control" formControlName="unit" type="text" name="unit"
                                disabled readonly required>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                              <mat-label>Waga Produktu</mat-label>
                              <input matInput class="form-control" formControlName="productWeight"
                                (change)="calculate(i)" type="text" name="productweight" required>
                              <mat-error *ngIf="name.hasError('required', 'productWeight')">Required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                              <mat-label>Cena Netto </mat-label>
                              <input matInput class="form-control" formControlName="valueProduct" type="text"
                                name="valueproduct" required readonly disabled>
                            </mat-form-field>
                            <mat-form-field class="hidden-field">
                              <mat-label>id </mat-label>
                              <input matInput formControlName="id" type="text" name="id" required readonly disabled>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div [ngClass]="[ProductDish? 'data-panel-cost' : 'data-panel']">
      <div [ngClass]="[ProductDish? 'panel-sub-cost' : 'panel-sub']">
        <!-- <button mat-button mat-dialog-close>Close</button> -->
        <button *ngIf="!ProductDish" type="button" class="btn btn-outline-info waves-effect"
          (click)="gotoBack()">Back</button>
        <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Save</button>
      </div>
    </div>
  </form>

</div>
