<!-- <div class="content-body">
  <mat-card>
    <div class="photo-list card card-block">
      <h1>Product ADD</h1>
      <div class="row">
        <form [formGroup]="bodyForm" class="example-container d-inline-block col-md-6" (submit)="onAddContent()">
         
          <mat-form-field>
            <input formControlName="name" matInput placeholder="First Name" name="name">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="description" matInput placeholder="description">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="label" matInput placeholder="label">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="logo" matInput placeholder="logo">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="image" matInput placeholder="image">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="style" matInput placeholder="style">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="active" matInput placeholder="active">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="price" matInput placeholder="price">
          </mat-form-field>
          <mat-form-field>
              <input formControlName="weight" matInput placeholder="weight">
            </mat-form-field>
          <mat-form-field>
              <select matNativeControl required  formControlName="unit">
                  <option value="KG">kg -kilogramy</option>
                  <option value="SZT.">szt- sztuki</option>
                  <option value="L">l- litry</option>
                </select>
          </mat-form-field>

        
          <div class="data-panel">
              <div class="panel-sub">
                  <button type="button" class="btn btn-outline-info waves-effect" (click)="gotoBack()">Back</button>
                <button type="button" class="btn btn-outline-info btn-rounded waves-effect">ADD other</button>
                <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Save</button>
              </div>
            </div> 
         
        </form>

      </div>
    </div>
   
  </mat-card>
</div> -->

