<div class="content-body">
  <mat-card>
    <div class="photo-list card card-block">
      <h1>Product ADD</h1>
      <div class="row">
        <form [formGroup]="bodyForm" class="example-container d-inline-block col-md-6" (submit)="onAddContent()">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name" name="name">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="description" matInput placeholder="Description">
          </mat-form-field>
          <mat-form-field>
            <select matNativeControl required  placeholder="Supplier" formControlName="supplier">
                <option value="KŚ">Kuchnie Świata</option>
                <option value="WoA">World of Asia</option>
                <option value="W">Warzywa</option>
              </select>
        </mat-form-field>
          <mat-form-field>
            <input formControlName="image" matInput placeholder="Image">
          </mat-form-field>
          <mat-form-field>
              <input formControlName="qty" matInput placeholder="Quallity">
            </mat-form-field>
          <mat-form-field>
            <input formControlName="nettoPrice" matInput placeholder="Netto">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="vat" matInput placeholder="Vat">
          </mat-form-field>
          <mat-form-field>
              <input formControlName="weight" matInput placeholder="Weight">
            </mat-form-field>
          <mat-form-field>
              <select matNativeControl required  placeholder="Unit" formControlName="unit">
                  <option value="KG">kg -kilogramy</option>
                  <option value="SZT.">szt- sztuki</option>
                  <option value="L">l- litry</option>
                </select>
          </mat-form-field>
          <div class="data-panel">
              <div class="panel-sub">
                  <button type="button" class="btn btn-outline-info waves-effect" (click)="gotoBack()">Back</button>
                <button type="button" class="btn btn-outline-info btn-rounded waves-effect">ADD other</button>
                <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Save</button>
              </div>
            </div> 
          </form>
      </div>
    </div>
  </mat-card>
</div> 