<div *ngIf="isDataAvailable">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">    
          <div class="details col-md-6">
              <h3 class="product-title">{{product.name}}</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no"></span>
            </div>
            <p class="product-description">{{product.nettoPrice}} zł za {{product.weight}} {{product.unit}}</p>
            <h6 class="price">
              Opis: <span class="size" data-toggle="tooltip" title="small">
                {{product.description}}</span></h6>
            <h6 class="price">
              id: <span class="size" data-toggle="tooltip" title="small">
                {{product._id}} </span></h6>
            <h6 class="price">
              nazwa: <span class="size" data-toggle="tooltip" title="small">
                {{product.name}}</span></h6>
            <h6 class="price">
              Cena Netto: <span class="size" data-toggle="tooltip" title="small">
                {{product.nettoPrice? product.nettoPrice : '' }} zł</span></h6>
            <h6 class="price">
              jednostka: <span class="size" data-toggle="tooltip" title="small">
                {{product.unit}}</span></h6>
            <h6 class="price">
              weight: <span class="size" data-toggle="tooltip" title="small">
                {{product.weight}}</span></h6>
            <h6 class="price">
              Vat: <span class="size" data-toggle="tooltip" title="small">
                {{product.vat}}</span></h6>
            <h6 class="price">
              Cena Brutto: <span class="size" data-toggle="tooltip" title="small">
                {{product.bruttoPrice}} zł</span></h6>
            <h6 class="price">
              Data ostatniej aktualizacji: <span class="size" data-toggle="tooltip" title="small">
                {{product.productDate |  date:'MM/dd/yyyy'}}</span></h6>
            <h6 class="price">
              Dostawca: <span class="size" data-toggle="tooltip" title="small">
                {{product.supplier}}</span></h6>
            <h6 class="price">
              Straty [%]: <span class="size" data-toggle="tooltip" title="small">
                {{product.losses}} %</span></h6>
            <h6 class="price">
              Cena Netto wliczone straty: <span class="size" data-toggle="tooltip" title="small">
                {{product.lossesPriceNetto}} zł</span></h6>
          </div>
          <div class="preview col-md-6">
              <h5 class="product-title product-title-left">Historia Ceny Produktu</h5>
            <div class="preview-pic tab-content">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                      [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                    </canvas>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 