<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container *ngFor="let a of numberOfDays; index as ind" matColumnDef="{{a}}">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':ind === (week+1) || ind === (week+2) || ind === (week+1)+7 || ind === (week+2)+7 || ind === (week+1)+14 || ind === (week+2)+14 || ind === (week+1)+21 || ind === (week+2)+21 || ind === (week+1)+28 || ind === (week+2)+28 ? 'green' : '' }"> {{a}}</th>
    <td mat-cell *matCellDef="let element; index as i"> 
     <div *ngIf="element[0][ind] !== true && element[0][ind] !== false">{{element[0][ind]}}</div>
     <mat-checkbox *ngIf="element[0][ind] === true || element[0][ind] === false" [checked]="isSelectrd(element[0][ind])">
   </mat-checkbox>
       <!-- {{element[0][a-1]}} -->
      </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
