<div class="content-body">
  <form [formGroup]="bodyForm" (submit)="onAddContent()">
    <mat-card class="mat-elevation-z">
      <mat-card-content class="container mt-4">
        <div class="row">
          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <div class="card-width" fxFlex="0 1 calc(100%)" fxFlex.lt-md="0 1 calc(100%)"
              fxFlex.lt-sm="100%">
              <mat-card class="mat-elevation-z4">
                <mat-card-content class="icon-center">
                  <mat-card-header>
                    <mat-card-title>
                      <h4 class="card-title">Produkt</h4>
                    </mat-card-title>
                    
                  </mat-card-header>
                  <mat-form-field class="example-full-width h5" *ngIf="apiBid">
                    <span matPrefix>     <mat-icon class="icon-size" mat-list-icon>
                      search
                    </mat-icon></span>
                    <input matInput formControlName="name" (keyup)="searchEBID($event.target.value)"
                      [matAutocomplete]="ebid" placeholder="Szukaj na ebid">
                    <mat-autocomplete [displayWith]="displayFnProd" #ebid="matAutocomplete"
                      (optionSelected)="onChangeEbid($event.option, i)">
                      <mat-option *ngFor="let option of productEbid" [value]="option.name">
                        <li>
                          <div class="flex flex-center">
                            <div *ngIf="option.images[0]" class="flex-image"><img class="img-autocomplete"
                                src="{{option.images[0].url_small}}">
                            </div>
                            <div class="flex">
                              <p class="desc-autocomplete">{{option.name}} <span
                                  class="desc-bold">{{option.price_per_unit/100}} zł</span></p>
                            </div>
                          </div>
                        </li>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="name" matInput placeholder="Nazwa produktu" name="name">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagane podaj nazwę Produktu z FV"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="description" matInput placeholder="Opis produktu">
                    <mat-icon matSuffix class="fas fa-info-circle"
                      matTooltip="*Wymagane podaj opis skrócony np. 'filet łosoś trym D'" #tooltip="matTooltip"
                      (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <select matNativeControl required [(ngModel)]="selectedValue" placeholder="Dostawca"
                      (change)="supplieronChange($event.target.value)" formControlName="supplier">
                      <option value="KŚ">Kuchnie Świata</option>
                      <option value="WoA">World of Asia</option>
                      <option value="W">Warzywa</option>
                      <option value="Sk">Składowa</option>
                      <option value="Pp">Półprodukt</option>
                      <option value="Re">Receptura</option>
                      <option value="In">Inny</option>
                      <option value="e-bidfood">e-bidfood</option>
                    </select>
                    <mat-icon matSuffix class="fas fa-info-circle"
                      matTooltip="*Wymagane: Wybierz dostawcę. Jęsli tworzysz recepturę to 'Receptura', 'Póprodukt' i 'Składowa' jest dla produktów które będa wykorzystywane jako część składowa innego dania"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="image" matInput placeholder="zdjęcie">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="Link do zdjęcia produktu"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="qty" matInput placeholder="ilość">
                    <mat-icon matSuffix class="fas fa-info-circle"
                      matTooltip="W przyszłości wykorzystana zostanie wartość do inwentaryzacji oraz magazynu"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="nettoPrice" matInput placeholder="Cena Netto">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość netto z FV"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="vat" matInput placeholder="Vat">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość Vat z FV"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="weight" matInput placeholder="Waga">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj wartość Wagi z FV"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <input formControlName="losses" matInput placeholder="Straty ">
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="% straty na produkcie"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                  <mat-form-field class="example-full-width h5">
                    <select matNativeControl required placeholder="Jednostka" formControlName="unit">
                      <option value="KG">kg -kilogramy</option>
                      <option value="SZT.">szt- sztuki</option>
                      <option value="L">l- litry</option>
                    </select>
                    <mat-icon matSuffix class="fas fa-info-circle" matTooltip="*Wymagana: Podaj jednostkę"
                      #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>

                  </mat-form-field>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div [ngClass]="[ProductDish? 'data-panel-cost' : 'data-panel']">
      <div [ngClass]="[ProductDish? 'panel-sub-cost' : 'panel-sub']">
        <!-- <button mat-button mat-dialog-close>Close</button> -->
        <button *ngIf="!ProductDish" type="button" class="btn btn-outline-info waves-effect"
          (click)="gotoBack()">Back</button>
        <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Save</button>
      </div>
    </div>
  </form>

</div>
