<!-- <div *ngIf="checkEvent(eventTournament)">
  <br>
  <table style="width: 100%;">
    <tr>
      <th><p style="color:green;float: left;">{{typeForVote}}</p></th>
      <th><div *ngIf="checkEventPercentWin(eventTournament)" style="color:green;float: left;">{{typeForPercent}}</div></th>
      <th><p *ngIf="checkEventC(typeForVote,typeForPercent)" style="background-color:green;color:white">{{typeForVote}} - {{typeForPercent}}</p></th>
    </tr>
    <tr>
      <td>{{eventTournament.vote.vote1Percentage}}-
          {{eventTournament.vote.voteXPercentage}} -
          {{eventTournament.vote.vote2Percentage}}</td>
      <td> 
        <div style="display: contents; text-align: center;" *ngIf="checkWining1(eventTournament)">
        <div *ngIf="checkEventHome(eventTournament.winningOdds.home)">1- {{eventTournament.winningOdds.home.actual}}</div>
      </div> 
      <div style="display: contents; text-align: center;" *ngIf="checkWining2(eventTournament)">
        <div *ngIf="checkEventAway(eventTournament.winningOdds.away)"> 2- {{eventTournament.winningOdds.away.actual}}</div>
      </div>
    </td>
    </tr>
  </table>
</div> -->


<!-- {{eventID}}<br>
  {{event}}<br>
  {{eventIndex}}<br>
  {{stringData}}<br> -->
<!-- {{startTimestamp*1000 | date:'yyyy-MM-dd'}} = {{stringData |date:'yyyy-MM-dd'}} -->

<table *ngIf="eventTournament && (startTimestamp*1000 | date:'yyyy-MM-dd')=== (stringData |date:'yyyy-MM-dd')">
 
  <thead class="thead-light">
    <tr style="width: 100%;">
      <th scope="col">Data</th>
      <th scope="col">Home</th>
      <th scope="col">vs</th>
      <th scope="col">Away</th>
      <th scope="col">Vote</th>
      <th scope="col">Chance</th>
      <th scope="col">TeamRating</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tr>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">{{eventTournament.event.formatedStartDate}}<br>{{eventTournament.event.startTime}}</td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">{{eventTournament.event.homeTeam.name}}</td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">vs</td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">{{eventTournament.event.awayTeam.name}}</td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">{{typeForVote}}<br><hr>{{eventTournament.vote.vote1Percentage}} / 
      {{eventTournament.vote.vote2Percentage}} / {{eventTournament.vote.voteXPercentage}}</td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}" >{{typeForPercent}}<br><hr>
      <div class="content-line" *ngIf="eventTournament.winningOdds?.home?.actual">{{eventTournament.winningOdds?.home?.actual}}</div><div class="content-line" *ngIf="!eventTournament.winningOdds?.home?.actual">brak</div> / 
      <div class="content-line" *ngIf="eventTournament.winningOdds?.away?.actual">{{eventTournament.winningOdds?.away?.actual}}</div><div class="content-line" *ngIf="!eventTournament.winningOdds?.away?.actual">brak</div>
      <br><hr>
      <div class="content-line" *ngIf="eventTournament.winningOdds?.home?.decimalValue">{{eventTournament.winningOdds?.home?.decimalValue}}</div><div class="content-line" *ngIf="!eventTournament.winningOdds?.home?.decimalValue">brak</div> / 
      <div class="content-line" *ngIf="eventTournament.winningOdds?.away?.decimalValue">{{draw}}</div><div class="content-line" *ngIf="!eventTournament.winningOdds?.away?.decimalValue">brak</div>/
      <div class="content-line" *ngIf="eventTournament.winningOdds?.away?.decimalValue">{{eventTournament.winningOdds?.away?.decimalValue}}</div><div class="content-line" *ngIf="!eventTournament.winningOdds?.away?.decimalValue">brak</div>
    </td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}" >
      <div class="content-line" *ngIf="eventTournament.teamsForm?.homeTeam?.avgRating"><br><hr>{{eventTournament.teamsForm?.homeTeam?.avgRating}}</div> vs
      <div class="content-line" *ngIf="eventTournament.teamsForm?.awayTeam?.avgRating">{{eventTournament.teamsForm?.awayTeam?.avgRating}}</div>
    </td>
    <td scope="col" [ngStyle]="{'background-color': colorWin, 'color': colorText}">
      <div *ngIf="eventTournament.event.status.code === 100">
        <div *ngIf="eventID.winnerCode===3">0</div>
        <div *ngIf="eventID.winnerCode===2">2</div>
        <div *ngIf="eventID.winnerCode===1">1</div>
      </div>
      <div *ngIf="eventTournament.event.status.code === 70">odwołany</div>
      <div *ngIf="eventTournament.event.status.code === 31"><b>
        <p> <i class="blink fas fa-play"></i> LIVE </p>
        </b>
      </div>
      <div *ngIf="eventTournament.event.status.code === 7"><b>
          <p> <i class="blink fas fa-play"></i> LIVE (2 połowa) </p>
          </b>
        </div>
        <div *ngIf="eventTournament.event.status.code === 6"><b>
            <p> <i class="blink fas fa-play"></i> LIVE (1 połowa) </p>
            </b>
          </div>
      <div *ngIf="eventTournament.event.status.code === 0">nie zaczety</div>
    </td>
  </tr>
</table>


<!-- <div *ngIf="eventID === eventTournament.events.id">{{eventTournament}}</div> -->
<!-- <div *ngIf="eventTournament.event !== undefined">
    <div *ngIf="eventTournament">
<tbody class="table">
  
        <tr>
          <td scope="col">{{eventTournament.event.homeTeam.name}}</td>
          <td scope="col">vs</td>
          <td scope="col">{{eventTournament.event.awayTeam.name}}</td>
          <td scope="col">0</td>
          <td scope="col">
            <div *ngIf="eventTournament.event.status.code === 100">
              
            </div>
            <div style="color:yellow" *ngIf="eventTournament.event.status.code === 9"><b><li>Live</li></b></div>
            <div *ngIf="eventTournament.event.status.code === 0">nie zaczety</div></td>
        </tr> 
 
</tbody>
</div> 
</div>
  
 -->
