  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  
  <a [routerLink]="['/restaurant/' + restaurantData._id]" [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let restaurantData of restaurant">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>{{restaurantData.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{restaurantData.logo}}">
      <mat-card-content>
        <p>
          {{restaurantData.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a [routerLink]="['/']"  [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-icon mat-list-icon>
        add 
      </mat-icon>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </a>
</div>