
<div class="example-container">
    <div class="navigation-toggle">
      <mat-icon (click)="toogleNav()" [ngClass]="status ? 'toggler-i-true' : 'toggler-i-false'"
        class="toggler-icon fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"
        aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation"></mat-icon>
  
  
      <mat-form-field class="pc-form-datapicker">
        <input matInput class="pc-input-datapicker" [ngModel]="mymodel" (ngModelChange)="onSearchChangeParam($event)" [matDatepicker]="picker"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="dropdown dropdown-toggler show px-3" *ngIf="userFromApi">
        <a class="btn btn-secondary dropdown-toggle dropdown-toggle-a " href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userFromApi.firstName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a [routerLink]="['/settings']" class="nav-item nav-link">Settings</a>
          <a [routerLink]="['/']" class="nav-item nav-link">Restauracje</a>
          <a [routerLink]="['/login']" class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>

    <mat-sidenav-container *ngIf="!activated" class="sidenav-container">
      <mat-sidenav [ngClass]="status ? 'toggler-b' : ''" #drawer fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <!-- <mat-toolbar color="primary" style="margin-top:30px;"> 
            </mat-toolbar> -->
        <mat-nav-list>
          <a matLine (click)="closeSideNav()" *ngIf="isAdmin" [routerLinkActive]="'is-active'" routerLink="/bet"
            class="svg">
            <mat-list-item>
              <mat-icon>monetization_on</mat-icon>
              <span>Bet</span>
            </mat-list-item>
          </a>
          <a matLine (click)="closeSideNav()" *ngIf="isAdmin" [routerLinkActive]="'is-active'"
            routerLink="/analystic/list" class="svg">
            <mat-list-item>
              <mat-icon>analytics</mat-icon>
              <span>Analystic</span>
            </mat-list-item>
          </a>
        
  
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content [ngClass]="status ? 'toggler-c' : ''">
        <mat-toolbar color="primary" class="phone-drawer">
          <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"
              aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation"></mat-icon>
          </button>
        
          <div class="dropdown dropdown-logout show px-3" *ngIf="userFromApi">  
              <mat-form-field class="pc-form-datapicker">
                  <input matInput class="pc-input-datapicker" [ngModel]="mymodel" (ngModelChange)="onSearchChangeParam($event)" [matDatepicker]="picker"
                    placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            <a class="btn btn-secondary dropdown-logout-a dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{userFromApi.firstName}}
            </a>
  
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a [routerLink]="['/settings']" class="nav-item nav-link">Settings</a>
              <a [routerLink]="['/']" class="nav-item nav-link">Restauracje</a>
              <a [routerLink]="['/login']" class="nav-item nav-link" (click)="logout()">Logout</a>
            </div>
          </div>
        </mat-toolbar>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  