<div class="data-panel">
  <div class="panel-sub">
    <button type="button" class="btn btn-outline-info btn-rounded waves-effect" routerLink="/dish/create"
      data-toggle="modal" data-target="#exampleModalLong">Utwórz Danie</button>


  </div>
</div>

<div class="">
  <mat-card class="">
    <mat-card-header>
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card-header>

    <mat-card-content class="container mt-4">

      <div class="row">

        <div class="card border-left-primary shadow py-2 col-auto mb-3"
          *ngFor="let dish of this.dataSource.filteredData">

          <div class="width-card">
            <div class="card-body">
              <div class="card__image border-tlr-radius">
                <img
                  src="{{dish.image}}"
                  alt="image" class="border-tlr-radius">
              </div>
              <div class="card__share">
                <button id="share" class=" share-icon">{{dish.bruttoPrice}} zł</button>
              </div>
              <article class="card__article">
                <h2 class="card-title">{{dish.name}}</h2>

                <p>{{dish.description}}</p>
              </article>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <div class="card__action">

                <div class="card__author">
                    <button id="share" class=" share-icon-edit fas fa-trash" style="color:red" (click)="dishDelete(tag._id)"></button>
                  <button id="share" class=" share-icon-edit fas fa-edit" [routerLink]="['/dish/edit/', dish._id]"></button>
                  <button id="share" class="share-toggle share-icon" (click)="openDialog(dish)"></button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-card-content>

  </mat-card>

</div>
<!-- 
<mat-card-content class="container mt-4">

    <div class="row">
<div class="wrapper card border-left-primary shadow py-2 col-auto mb-3" *ngFor="let dish of this.dataSource.filteredData">
    
    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius">
           
        </div>

        <div class="card__content card__padding">
            <div class="card__share">
                <button id="share" class=" share-icon">{{dish.bruttoPrice}} zł</button>
            </div>

            <div class="card__meta">
                <p>cena</p>
            </div>

            <article class="card__article">
                <h2>{{dish.name}}</h2>

                <p>desc</p>
            </article>
        </div>

        <div class="card__action">
            
            <div class="card__author">
                
                <button id="share" class="share-toggle share-icon" (click)="openDialog(dish)"></button>
            </div>
        </div>
    </div>

    <p class="text-center">
      
      </p>
</div>
</div>
</mat-card-content> -->
