
<div fxLayout="row wrap" fxLayoutGap="grid">
  <a *ngIf="dishesData.length > 0" [routerLink]="['dish/']" class="box-href" [fxFlex]="(100/4) + '%'" fxFlex.xs="50%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4">
      <!-- <img mat-card-image src=""> -->
      <mat-card-content class="icon-center">
        <mat-icon class="icon-size" *ngIf="dishesData.length >0" [matBadge]="dishesData.length" matBadgePosition="after"
          matBadgeColor="accent"> food_bank </mat-icon>
        <mat-card-header>
          <mat-card-title>Dishes</mat-card-title>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </a>
  <a *ngIf="productData.length > 0" [routerLink]="['products']" class="box-href" [fxFlex]="(100/4) + '%'" fxFlex.xs="50%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4">
      <!-- <img mat-card-image src=""> -->
      <mat-card-content class="icon-center">
        <mat-icon class="icon-size" [matBadge]="productData.length" matBadgePosition="after"
          matBadgeColor="accent"> food_bank </mat-icon>
        <mat-card-header>
          <mat-card-title>Products</mat-card-title>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </a>
  <a *ngIf="recipesData.length > 0" [routerLink]="['recipe']" class="box-href" [fxFlex]="(100/4) + '%'" fxFlex.xs="50%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z4">
      <!-- <img mat-card-image src=""> -->
      <mat-card-content class="icon-center">
        <mat-icon class="icon-size" [matBadge]="recipesData.length" matBadgePosition="after"
          matBadgeColor="accent"> food_bank </mat-icon>
        <mat-card-header>
          <mat-card-title>Recipes</mat-card-title>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </a>
</div>
